---
import LogoWhite from "@/assets/logo-white.png";

const menuItems = [
  { to: "/", label: "Home" },
  { to: "/getting-started", label: "Getting Started" },
  { to: "/docs", label: "API Reference" },
  { to: "/common-errors", label: "Common Errors" },
];

const { pathname } = Astro.url;
---

<nav
  class="w-full flex items-center justify-between px-6 py-4 border-b border-zinc-800"
>
  <div class="flex items-center space-x-2">
    <img src={LogoWhite.src} class="h-5" />
  </div>

  <div
    class="hidden md:flex space-x-6 text-sm text-gray-600 dark:text-gray-400"
  >
    {
      menuItems.map(({ to, label }) => {
        const isActive = pathname === to || pathname.startsWith(`${to}/`);

        return (
          <a
            href={to}
            class={`group relative border-b-2 pb-2 ${isActive ? "border-red-500 font-semibold text-zinc-300" : "border-transparent"}`}
          >
            <span>{label}</span>
            <span
              class={`absolute -bottom-[2px] left-0 w-0 transition-all h-[2px] ${isActive ? "" : "bg-zinc-700 group-hover:w-full"} `}
            />
          </a>
        );
      })
    }
  </div>
</nav>
